<div id="main">
    <img src="main-img.jpg">
</div>


<div id="article_wrap">

    <div id="article_list">
      <% @posts.each do |post| %>
      <div>
        <h2>
          <%= link_to post.content, post %>
        </h2>
        <p>
          <%= post.updated_at %>
        </p>
        <% if user_signed_in? %>
            <%= link_to "編集", "/posts/#{post.id}/edit" %>
            <%= link_to "削除", post, method: :delete %>
        <% end %>
      </div>
      <% end %>
    </div>

    <div id="sidebar">
        <h2>★PV数ランキング</h2>
        <ul>
          <% Post.most_popular.each do |post| %>
          <li><a href="<%= post %>"><%= post.title %><span>( <%= post.redis_page_view %>PV )</span></a></li>
          <% end %>
        </ul>
    </div>
    <div class="clear"></div>

</div>
